@{
    ViewData["Title"] = "Home Page";
}

<div class="container mx-auto">

    <div class=" text-center">
        @using (Html.BeginForm("#", "#", FormMethod.Get))
        {
            <div class="input-group search">
                <input type="text" class="form-control rounded-3 w-25" name="search" placeholder="Search...">
                <div class="col-sm-2 input-group-append">
                    <button class="btn btn-outline-secondary btn-dark" type="submit">Search</button>
                </div>
            </div>
        }
    </div>

    <div class="flex flex-wrap justify-center mt-10 items-stretch">

        <div class=" flex-1 rounded-lg border text-center w-50 h-100 shadow-xl m-5 justify-content-start bg-white">

            <p>No records yet.</p>

        </div>

    </div>

</div>
