@using CroKnitters.Entities;
@model IEnumerable<User>
@{
    ViewData["Title"] = "Friends";
}

<div class="justify-content-center rounded-lg border w-auto shadow-xl m-5 bg-white">

    <div class="p-5">

        @if (TempData["ErrorMessage"] != null)
        {
            <div id="errorMessage" class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }

        @if (TempData["SuccessMessage"] != null)
        {
            <div id="successMessage" class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }

        <p>
            <a class="btn btn-primary" asp-action="FindFriend">Find friend</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Email
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        First name
                    </th>
                    <th>
                        Last name
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
@*                 @foreach (var item in Model)
                { *@
                    <tr>
                        <td>
                            example
                        </td>
                        <td>
                            example
                        </td>
                        <td>
                            example
                        </td>
                        <td>
                            example
                        </td>
                        <td>
  
                            <a class="btn btn-danger btn-sm" style="padding-top: 5px; margin-top: 0px;" asp-action="DeleteFriend" asp-controller="Friend" asp-route-id="UserId">Delete Friend</a>
                        </td>
                    </tr>
               @*  } *@
            </tbody>
        </table>

    </div>
</div>

