@{
    ViewData["Title"] = "Admin Log In";
}

<div class="container mx-auto">

    <div class="text-5xl font-extrabold text-center">
        <span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 ">
            Hello CroKnitters!
        </span>
    </div>

    <div class="flex">
        <!--Login form-->
        <div class=" flex-1 rounded-lg border text-center w-50 h-100 shadow-xl m-5 justify-content-start bg-white">

            <h2 class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Log into Admin Panel</h2>

            @if (TempData["error"] != null)
            {
                <p class="text-danger pt-2">
                    @TempData["error"]
                </p>
            }

            <div class="sm:mx-auto sm:w-full sm:max-w-sm p-4">
                <form action="LoginAccess" method="POST">

                    <div>
                        <label for="username" class="block text-sm font-bold leading-6 text-gray-900">Username</label>
                        <input type="text" name="username" id="username" class="form-control block border-2 text-black-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="janesmith">
                    </div>

                    <br />

                    <div>
                        <label for="password" class="block text-sm font-bold leading-6 text-gray-900">Password</label>
                        <input type="password" name="password" id="password" class="form-control border-2 text-black-900 placeholder:text-black-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="password">

                    </div>

                    <div>
                        <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 mt-5 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-2">Sign in</button>
                    </div>

                    <p class="mt-3 text-center text-sm text-gray-500">
                        Forgot your password?
                        <a asp-controller="Account" asp-action="Reset" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500 ">Reset Password</a>
                    </p>

                </form>
            </div>

        </div>

        <!--Image div-->
        <div class="flex-1 rounded-lg border shadow-xl m-5 bg-fixed" style="background-image: url('/img/background.jpg'); background-size: cover; background-position: center; width:50px; height: 455px;">
            <h2 class="text-black text-center text-5xl font-bold animate-bounce" style="padding-top:225px;">CroKnitters.</h2>  <!--We can replace the text with the logo and make it bounce-->
        </div>

    </div>

</div>